<div class="fluid-container bg-light h-100 master">
  <div class="row m-0 h-100 viewwrapper">
    <div class="col-lg-2 sidebar">
      <div class="icon">
        <fa-icon [icon]="faSolidBars" class="icon-symbol"></fa-icon>
        <div class="logo">
          <span>Active Learning Platform</span>
        </div>
      </div>
      <!-- Side Navigation Import -->
      <alp-side-nav></alp-side-nav>
    </div>
    <div class="col-lg mainview">
      <!-- Top Navigation Import -->
      <alp-top-nav></alp-top-nav>
      <div class="maincontent">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>