<div class="card bg-white text-black">
    <div class="row no-gutters">
        <div class="col-md-6 content">
            <img src="../../assets/images/online.jpg" class="card-img" alt="online learning image" />
        </div>
        <div class="col-md-6 form-card d-flex flex-column">
            <div class="card-body">
                <mat-toolbar class="bg-white text-black">
                    <img src="../../assets/images/logojpg.jpg" class="card-img" alt="Logo" />
                </mat-toolbar>
                <div *ngIf="isSignInRendered; then renderSignIn else renderSignup"></div>
                <ng-template #renderSignIn>
                    <alp-signin></alp-signin>
                    <div class="form-group">
                        <p class="mb-5 pb-lg-2" style="color: #393f81;">Don't have an account? <a mat-button
                                class="menu-button" class="btn btn-forgot text-primary"
                                (click)="isSignInRendered = !isSignInRendered">
                                <span>Sign up</span>
                            </a></p>
                    </div>
                </ng-template>
                <ng-template #renderSignup>
                    <alp-signup></alp-signup>
                    <div class="form-group">
                        <p class="mb-5 pb-lg-2" style="color: #393f81;">Already have an account? <a mat-button
                                class="menu-button" class="btn btn-forgot text-primary"
                                (click)="isSignInRendered = !isSignInRendered">
                                <span>Sign in</span>
                            </a></p>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
</div>