<div class="card bg-white text-black">
    <div class="row no-gutters">
        <div class="col-md-6 content">
            <img src="../../assets/images/online.jpg" class="card-img" alt="online learning image" />
        </div>
        <div class="col-md-6 form-card d-flex flex-column">
            <div class="card-body">
                <mat-toolbar class="bg-white text-black">
                    <img src="../../assets/images/logojpg.jpg" class="card-img" alt="Logo" />
                </mat-toolbar>
                <alp-signin></alp-signin>
            </div>

        </div>
    </div>
</div>