<mat-stepper #stepper>
  <mat-step label="Choose Language">
    <div class="stepperContent rounded d-flex flex-row" mat-dialog-content>
      <alp-programming-language></alp-programming-language>
      <alp-programming-language></alp-programming-language>
      <alp-programming-language></alp-programming-language>
      <alp-programming-language></alp-programming-language>
    </div>
    <div class="stepperAction" mat-dialog-actions>
      <button mat-raised-button color="primary" (click)="nextStep(stepper)">
        Next
      </button>
    </div>
  </mat-step>
  <mat-step label="Choose Course">
    <div class="row m-0 stepperContent" mat-dialog-content>
      <h1>CHOOSE A COURSE</h1>
    </div>
    <div class="stepperAction" mat-dialog-actions>
      <button mat-raised-button color="primary" (click)="prevStep(stepper)">
        Back
      </button>
      <button mat-raised-button color="accent" (click)="nextStep(stepper)">
        Next
      </button>
    </div>
  </mat-step>
  <mat-step class="h-100 stepperContainer" label="Knowledge Validation">
    <div class="row m-0 stepperContent" mat-dialog-content>
      <h1>HAVE YOU COMPLETED BASICS FOR THIS PROGRAMMING LANGUAGE BEFORE?</h1>
    </div>
    <div class="stepperAction" mat-dialog-actions>
      <button mat-raised-button color="primary" (click)="prevStep(stepper)">
        Back
      </button>
      <button mat-raised-button color="accent" (click)="nextStep(stepper)">
        Register
      </button>
    </div>
  </mat-step>
</mat-stepper>
