.card-list {
  height: 70vh;
  overflow: auto;
  /* background-color: aquamarine; */
}

.card-list::-webkit-scrollbar{
  width: 3px;
  border-radius: 50px;
}

.card-list::-webkit-scrollbar-thumb {
  background-color: #6f6e6e;
}
