<div class="row m-0 w-100 top-nav">
  <div class="d-flex col-lg-10 search-tool">
    <div class="toggle-sidebar">
      <fa-icon [icon]="faSolidBars" id="menubar"></fa-icon>
    </div>
    <div class="searchbox">
			<fa-icon [icon]="searchIcon" class="searchInput"/>
      <input
        type="text"
        class="form-control search-input"
        placeholder="Search python course..."
      />
    </div>
  </div>
  <div class="profile col-lg-2">
    <alp-user-profile></alp-user-profile>
  </div>
</div>
