@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&family=Lobster&display=swap");
@import "@angular/cdk/overlay-prebuilt.css";

:root {
  --bg-auth-color: rgb(231, 229, 229);
  --bg-auth-container-color: rgb(255, 255, 255);
  --border-auth-color: #000;
  --btn-google-color: blue;
  --btn-github-color: white;
  --top-nav-height: 3rem;
  --top-nav-offset: 0.8rem;
  --top-nav-search-padding-left: 2rem;
  --profile-image-size: 2rem;
  /* Sidebar Navigation */
  --sidenav-border-size: 5px;
  --sidenav-inactive-link: transparent;
  --sidenav-active-link: orange;
  --sidenav-border-style: solid;
}

.courseSelectorBackgrop {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.spacer {
  flex: 1 1 auto;
}

/* client id : 201265733783-d3kgq26fchp10invlmag4apf3gm5jdt7.apps.googleusercontent.com  */
/* client secrets : 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 */
