<div class="row m-0">
  <!-- <div *ngFor="let lang of mockLanguagesData;"> -->
    <div class="rounded bg-dark p-0 m-0 col-lg-4 col-md-5 col">
      <mat-card>
        <mat-card-header class="m-0 p-1">
          <div class="bg-light rounded p-0 m-0" mat-card-avatar>
            <img mat-card-image src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/angularjs/angularjs-original.svg" alt="avatar" />
          </div>
          <mat-card-title class="text-light m-0 pl-2">
            <!-- <b>{{ lang.name }}</b> -->
            Angular
          </mat-card-title>
        </mat-card-header>
      </mat-card>
    </div>
    <div class="rounded bg-dark p-0 m-0 col-lg-4 col-md-5 col">
      <mat-card>
        <mat-card-header class="m-0 p-1">
          <div class="bg-light rounded p-0 m-0" mat-card-avatar>
            <img mat-card-image src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/java/java-original.svg" alt="avatar" />
          </div>
          <mat-card-title class="text-light m-0 pl-2">
            <!-- <b>{{ lang.name }}</b> -->
            Java
          </mat-card-title>
        </mat-card-header>
      </mat-card>
    </div>
    <div class="rounded bg-dark p-0 m-0 col-lg-4 col-md-5 col">
      <mat-card>
        <mat-card-header class="m-0 p-1">
          <div class="bg-light rounded p-0 m-0" mat-card-avatar>
            <img mat-card-image src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/bootstrap/bootstrap-original.svg" alt="avatar" />
          </div>
          <mat-card-title class="text-light m-0 pl-2">
            <!-- <b>{{ lang.name }}</b> -->
            Bootstrap
          </mat-card-title>
        </mat-card-header>
      </mat-card>
    </div>
  <!-- </div> -->
</div>
