.user-profile {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}

.user-profile .notifications {
  font-size: 15pt;
}

.user-profile .profile img {
  width: var(--profile-image-size);
  height: var(--profile-image-size);
  pointer-events: none;
}