.card {
  height: 100%;
  padding: 1em;
}

table {
  width: 100%;
}
.spacer {
  flex: 1 1 auto;
}

.card-body{
  padding: 0%;
}

.user-management-controls{
  display: flex;
  gap: .3rem;
  align-items: center;
  white-space: nowrap;
  justify-content: flex-end;
}