html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.spacer {
  flex: 1 1 auto;
}

/* client id : 201265733783-d3kgq26fchp10invlmag4apf3gm5jdt7.apps.googleusercontent.com  */
/* client secrets : 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 */