:root {
  --bg-auth-color: rgb(231, 229, 229);
  --bg-auth-container-color: rgb(255, 255, 255);
  --border-auth-color: #000;
  --btn-google-color: blue;
  --btn-github-color: white;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.spacer {
  flex: 1 1 auto;
}

/* client id : 201265733783-d3kgq26fchp10invlmag4apf3gm5jdt7.apps.googleusercontent.com  */
/* client secrets : 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 */
